@media all and (min-width: 1130px) {

    .content-footer-center {
        width: 80%;
    }

    .content-footer-bottom-line {
        width: 80%;
        height: 50px;
        justify-content: space-between;
    }

    .content-footer-bottom-line-left {
        width: 210px;
    }

    .content-footer-bottom-line-center {
        width: 285px;
    }

    .content-footer-bottom-line-right {
        width: 100px;
    }

    .currency {
        width: 130px;
    }
}


@media all and (max-width: 1130px) {
    /* при ширине экрана в 1130px до 700px будут выполненены след параметры*/
    .container-header {
        width: 90%;
    }

    .header {
        margin: 0;
    }

    .single-platform-line {
        opacity: 0;
    }

    .single-platform-info {
        justify-content: center;
        width: 900px;
    }

    .analytics-info {
        width: 900px;
        justify-content: center;
    }

    .activity-info {
        width: 900px;
        justify-content: center;
    }

    .content-footer-center {
        width: 80%;
    }

    .content-footer-bottom-line {
        width: 80%;
        height: 50px;
        justify-content: space-between;
    }

    .content-footer-bottom-line-left {
        width: 210px;
    }

    .content-footer-bottom-line-center {
        width: 285px;
    }

    .content-footer-bottom-line-right {
        width: 100px;
    }

    .currency {
        width: 130px;
    }


}

@media all and  (max-width: 1010px) {
    .reviews__list-cart {
        height: 275px;
        justify-content: space-between;
    }

    .reviews__list-cart-text {
        font-size: 15px;
    }

    .reviews__list {
        height: 280px;
        justify-content: center;
        width: 100%;
    }

    .reviews__list-line {
        height: 275px;
    }

    .content-footer-center-column-big {
        font-size: 14px;
    }

    .content-footer-center-column-small {
        font-size: 14px;
    }


    .single-platform-line {
        opacity: 0;
    }

    .content-footer-center {
        width: 80%;
    }

    .content-footer-bottom-line {
        width: 70%;
        flex-direction: column;
        height: 120px;
        justify-content: space-between;

    }

    .content-footer-bottom-line-center {
        width: 100%;
    }

    .content-footer-bottom-line-right {
        width: 100%;
        flex-direction: row;
        height: 20px;
    }

}


@media all and  (max-width: 930px) {

    .single-platform-info {
        width: 70%;
        justify-content: space-between;
    }

    .single-platform-box-info {
        width: 20%;
        height: 80%;
    }

    .sp-textBox-2 {
        font-size: 14px;
        width: 200px;
    }

    .sp-textBox-1 {
        font-size: 15px;
    }

    .content-footer {
        height: 90%;

    }

    .content-footer-center-column-big {
        font-size: 14px;
    }

    .content-footer-center-column-small {
        font-size: 14px;
    }


    .single-platform-line {
        opacity: 0;
    }

    .content-footer-center {
        width: 80%;
    }

    .content-footer-bottom-line {
        width: 70%;
        flex-direction: column;
        height: 120px;
        justify-content: space-between;

    }

    .content-footer-bottom-line-center {
        width: 100%;
    }

    .content-footer-bottom-line-right {
        width: 100%;
        flex-direction: row;
        height: 20px;
    }

}

@media all and  (max-width: 875px) {
    .content-footer-center {
        width: 60%;
    }
}

@media all and  (max-width: 885px) {
    .analytics {
        height: 950px;
    }

    .container-analytics {
        height: 90%;

    }

    .analytics-info {
        height: 930px;
        flex-direction: column;
        justify-content: center;
    }

    .activity {
        height: 950px;
    }

    .activity-info {
        height: 930px;
        flex-direction: column;
        justify-content: space-between;
    }

    .content-footer {
        height: 90%;

    }

    .content-footer-center-column-big {
        font-size: 13px;
    }

    .content-footer-center-column-small {
        font-size: 13px;
    }


    .single-platform-line {
        opacity: 0;
    }

    .content-footer-center {
        width: 80%;
    }

    .content-footer-bottom-line {
        width: 70%;
        flex-direction: column;
        height: 120px;
        justify-content: space-between;

    }

    .content-footer-bottom-line-center {
        width: 100%;
    }

    .content-footer-bottom-line-right {
        width: 100%;
        flex-direction: row;
        height: 20px;
    }


}

@media all and  (max-width: 850px) {
    .registration-text-tittle {
        height: 250px;

    }

    .registration-text-tittle-txt {
        padding-left: 0;
        font-size: 22px;
        width: 90%;
    }

    .registration-text-tittle-txt2 {
        font-size: 36px;
    }
    .reviews__list {
        height: 900px;
        flex-direction: column;
        justify-content: space-between;

    }

    .container-reviews {
        height: 900px;
    }

    .reviews {
        height: 950px;
    }

    .reviews__list-line {
        width: 273px;
        height: 2px;
    }

    .content-footer {
        height: 90%;

    }

    .content-footer-center-column-big {
        font-size: 12px;
    }

    .content-footer-center-column-small {
        font-size: 12px;
    }


    .single-platform-line {
        opacity: 0;
    }

    .content-footer-center {
        width: 80%;
    }

    .content-footer-bottom-line {
        width: 70%;
        flex-direction: column;
        height: 120px;
        justify-content: space-between;

    }

    .content-footer-bottom-line-center {
        width: 100%;
    }

    .content-footer-bottom-line-right {
        width: 100%;
        flex-direction: row;
        height: 20px;
    }
    .reviews__list-cart {
        height: 100%;
        justify-content: space-evenly;
    }

    .reviews__list-cart-user {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: inherit;
    }

    .reviews__list-cart-user-name {
        width: 100%;
    }

}

@media all and  (max-width: 800px) {
    .container-header {
        height: 400px;
    }

    .header {
        height: 400px;
    }

    .info-header {
        width: 600px;
        height: 200px;
    }

    /*.registration-text-tittle {*/
    /*    height: 150px;*/
    /*    width: 419px;*/
    /*    flex-direction: column;*/
    /*    justify-content: space-around;*/
    /*}*/
    .registration-text-tittle {
        height: 250px;

    }

    .registration-text-tittle-txt {
        padding-left: 0;
        font-size: 20px;
        width: 90%;
    }

    .registration-text-tittle-txt2 {
        font-size: 34px;
    }

    .content-footer {
        height: 90%;

    }

    .content-footer-center-column-big {
        font-size: 11px;
    }

    .content-footer-center-column-small {
        font-size: 11px;
    }


    .single-platform-line {
        opacity: 0;
    }

    .content-footer-center {
        width: 80%;
    }

    .content-footer-bottom-line {
        width: 70%;
        flex-direction: column;
        height: 120px;
        justify-content: space-between;

    }

    .content-footer-bottom-line-center {
        width: 100%;
    }

    .content-footer-bottom-line-right {
        width: 100%;
        flex-direction: row;
        height: 20px;
    }

    .video {
        height: 350px;
    }

    .info-content-header-text1 {
        font-size: 40px;
    }
    .reviews__list-cart {
        height: 100%;
        justify-content: space-evenly;
    }

    .reviews__list-cart-user {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: inherit;
    }

    .reviews__list-cart-user-name {
        width: 100%;
    }

}

@media all and (max-width: 725px) {

    .content-footer {
        height: 90%;

    }

    .content-footer-center-column-big {
        font-size: 11px;
    }

    .content-footer-center-column-small {
        font-size: 11px;
    }


    .single-platform-line {
        opacity: 0;
    }

    .content-footer-center {
        width: 80%;
    }

    .content-footer-bottom-line {
        width: 70%;
        flex-direction: column;
        height: 120px;
        justify-content: space-between;

    }

    .content-footer-bottom-line-center {
        width: 100%;
    }

    .content-footer-bottom-line-right {
        width: 100%;
        flex-direction: row;
        height: 20px;
    }

    .single-platform-info {
        justify-content: space-evenly;
        width: 90%;
    }
    .reviews__list-cart {
        height: 100%;
        justify-content: space-evenly;
    }

    .reviews__list-cart-user {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: inherit;
    }

    .reviews__list-cart-user-name {
        width: 100%;
    }
    .registration-text-tittle {
        height: 250px;

    }

    .registration-text-tittle-txt {
        padding-left: 0;
        font-size: 18px;
        width: 90%;
    }

    .registration-text-tittle-txt2 {
        font-size: 34px;
    }

}


@media all and (max-width: 700px) {
    /* при ширине экрана в 700px до 570px  будут выполненены след параметры*/
    .info-header {
        width: 100%;
    }

    .menu-head {
        width: 400px;
    }

    .head-header {
        width: 100%;
        height: 100px;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .plan {
        height: 350px;
    }

    .container-plan {
        height: 350px;
        width: 60%;
        flex-direction: column;
    }

    .plan-texts {
        height: 200px;
        width: 100%;
        justify-content: center;

    }

    .plan-texts-txt2 {
        width: 100%;
    }

    .price-offer {
        height: 800px;
    }

    .price-offer-cards-two {
        justify-content: center;
        height: 750px;
        width: 100%;
        flex-direction: column;
    }

    .price-offer-card {
        height: 350px;
        width: 250px;
    }

    .price-offer-card-container {
        margin: 20px;
    }

    .description-price-offer-card {
        font-size: 12px;
    }


    .content-footer {
        height: 90%;

    }

    .content-footer-center-column-big {
        font-size: 11px;
    }

    .content-footer-center-column-small {
        font-size: 11px;
    }


    .single-platform-line {
        opacity: 0;
    }


    .content-footer-bottom-line {
        width: 70%;
        flex-direction: column;
        height: 120px;
        justify-content: space-between;

    }

    .content-footer-bottom-line-center {
        width: 100%;
    }

    .content-footer-bottom-line-right {
        width: 100%;
        flex-direction: row;
        height: 20px;
    }

    .plan-texts-txt1 {
        font-size: 30px;
    }

    .registration-text-tittle {
        height: 250px;

    }

    .registration-text-tittle-txt {
        padding-left: 0;
        font-size: 18px;
        width: 90%;
    }

    .registration-text-tittle-txt2 {
        font-size: 34px;
    }
    .reviews__list-cart {
        height: 100%;
        justify-content: space-evenly;
    }

    .reviews__list-cart-user {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: inherit;
    }

    .reviews__list-cart-user-name {
        width: 100%;
    }
}

@media all and (max-width: 660px) {
    .content-footer-center {
        width: 40%;
    }

    .content-footer {
        height: 90%;

    }

    .content-footer-center-column-big {
        font-size: 11px;
    }

    .content-footer-center-column-small {
        font-size: 11px;
    }


    .single-platform-line {
        opacity: 0;
    }

    .content-footer-center {
        width: 80%;
    }

    .content-footer-bottom-line {
        width: 70%;
        flex-direction: column;
        height: 120px;
        justify-content: space-between;

    }

    .content-footer-bottom-line-center {
        width: 100%;
    }

    .content-footer-bottom-line-right {
        width: 100%;
        flex-direction: row;
        height: 20px;
    }

    .single-platform-info {
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
    }

    .single-platform {
        height: 620px;
    }

    .registration-text-tittle {
        height: 250px;

    }

    .registration-text-tittle-txt {
        padding-left: 0;
        font-size: 18px;
        width: 90%;
    }

    .registration-text-tittle-txt2 {
        font-size: 34px;
    }
    .reviews__list-cart {
        height: 100%;
        justify-content: space-evenly;
    }

    .reviews__list-cart-user {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: inherit;
    }

    .reviews__list-cart-user-name {
        width: 100%;
    }

}


@media all and (max-width: 600px) {
    /* при ширине экрана в 570px px  будут выполненены след параметры*/
    .container-header {
        width: 80%;
        height: 70%;
        justify-content: space-between;
    }

    .info-content-header-text1 {
        width: 400px;
        height: 30px;
        font-size: 30px;
        font-weight: bold;
        line-height: 30px;
    }

    .info-content-header-text2 {
        width: 400px;
        height: 40px;
        font-size: 15px;
        font-weight: 400;
        line-height: 20px;
    }

    .header {
        height: 300px
    }

    .info-header {
        width: 100%;
        height: 50%;
    }

    .menu-head {
        width: 70%;
        flex-direction: row;
        font-size: 15px;
        line-height: 5%;
        height: 5%;
        justify-content: space-evenly;
    }

    .head-header {
        width: 70%;
        height: 1%;
        justify-content: space-between;
        flex-direction: row;
    }

    .logo-head {
        background-size: 50px 12px;
        margin-left: 10px;
        width: 50px;
        height: 15px;

    }

    .button {
        height: 40px;
        width: 130px;
    }

    .content-footer {
        height: 90%;

    }

    .content-footer-center-column-big {
        font-size: 11px;
    }

    .content-footer-center-column-small {
        font-size: 11px;
    }


    .single-platform-line {
        opacity: 0;
    }

    .content-footer-center {
        width: 80%;
    }

    .content-footer-bottom-line {
        width: 70%;
        flex-direction: column;
        height: 120px;
        justify-content: space-between;

    }

    .content-footer-bottom-line-center {
        width: 100%;
    }

    .content-footer-bottom-line-right {
        width: 100%;
        flex-direction: row;
        height: 20px;
    }
    .registration-text-tittle {
        height: 250px;

    }

    .registration-text-tittle-txt {
        padding-left: 0;
        font-size: 16px;
        width: 90%;
    }

    .registration-text-tittle-txt2 {
        font-size: 34px;
    }
    .reviews__list-cart {
        height: 100%;
        justify-content: space-evenly;
    }

    .reviews__list-cart-user {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: inherit;
    }

    .reviews__list-cart-user-name {
        width: 100%;
    }
}

@media all and  (max-width: 530px) {
    .registration-text-tittle {
        height: 250px;

    }

    .registration-text-tittle-txt {
        padding-left: 0;
        font-size: 14px;
        width: 90%;
    }

    .registration-text-tittle-txt2 {
        font-size: 34px;
    }

    .info-video-content-txt2 {
        width: 100%;
        font-size: 30px;

    }

    .info-video-content-txt1 {
        font-size: 25px;
    }

    .video {
        height: 250px;
    }

    .info-video-content-txt2 {
        line-height: 25px;
        width: 420px;
    }

    .registration-form {
        width: auto;
    }

    .content-footer {
        height: 90%;

    }

    .content-footer-center-column-big {
        font-size: 11px;
    }

    .content-footer-center-column-small {
        font-size: 11px;
    }


    .single-platform-line {
        opacity: 0;
    }

    .content-footer-center {
        width: 80%;
    }

    .content-footer-bottom-line {
        width: 70%;
        flex-direction: column;
        height: 120px;
        justify-content: space-between;

    }

    .content-footer-bottom-line-center {
        width: 100%;
    }

    .content-footer-bottom-line-right {
        width: 100%;
        flex-direction: row;
        height: 20px;
    }
    .reviews__list-cart {
        height: 100%;
        justify-content: space-evenly;
    }

    .reviews__list-cart-user {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: inherit;
    }

    .reviews__list-cart-user-name {
        width: 100%;
    }


}

@media all and  (max-width: 500px) {
    .registration-text-tittle {
        height: 250px;

    }

    .registration-text-tittle-txt {
        padding-left: 0;
        font-size: 12px;
        width: 90%;
    }

    .registration-text-tittle-txt2 {
        font-size: 34px;
    }

    .video {
        height: 250px;
    }

    .info-video-content-txt1 {
        font-size: 25px;
    }

    .content-footer {
        height: 90%;

    }

    .content-footer-center-column-big {
        font-size: 11px;
    }

    .content-footer-center-column-small {
        font-size: 11px;
    }


    .single-platform-line {
        opacity: 0;
    }

    .content-footer-center {
        width: 80%;
    }

    .content-footer-bottom-line {
        width: 70%;
        flex-direction: column;
        height: 120px;
        justify-content: space-between;

    }

    .content-footer-bottom-line-center {
        width: 100%;
    }

    .content-footer-bottom-line-right {
        width: 100%;
        flex-direction: row;
        height: 20px;
    }
    .reviews__list-cart {
        height: 100%;
        justify-content: space-evenly;
    }

    .reviews__list-cart-user {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: inherit;
    }

    .reviews__list-cart-user-name {
        width: 100%;
    }

}

@media all and  (max-width: 470px) {
    .registration-form {
        margin: 70px;
    }

    .registration-form-input {
        width: 80%;
        height: 35px;
    }

    .registration-form-attach {
        width: 80%;
        flex-direction: column;
        height: 60px;
        justify-content: center;
    }

    .registration-form-button {
        width: 300px;
    }

    .content-footer {
        height: 90%;

    }

    .content-footer-center-column-big {
        font-size: 11px;
    }

    .content-footer-center-column-small {
        font-size: 11px;
    }


    .single-platform-line {
        opacity: 0;
    }

    .content-footer-center {
        width: 80%;
    }

    .content-footer-bottom-line {
        width: 70%;
        flex-direction: column;
        height: 120px;
        justify-content: space-between;

    }

    .content-footer-bottom-line-center {
        width: 100%;
    }

    .content-footer-bottom-line-right {
        width: 100%;
        flex-direction: row;
        height: 20px;
    }
    .reviews__list-cart {
        height: 100%;
        justify-content: space-evenly;
    }

    .reviews__list-cart-user {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: inherit;
    }

    .reviews__list-cart-user-name {
        width: 100%;
    }
}


@media all and  (max-width: 450px) {
    .registration-text-tittle {
        height: 250px;

    }

    .registration-text-tittle-txt {
        padding-left: 0;
        font-size: 12px;
        width: 90%;
    }

    .registration-text-tittle-txt2 {
        font-size: 28px;
    }

    .container-header {
        height: 90%;
        justify-content: space-between;
    }

    .info-header {
        height: 80%;
    }

    .header {
        height: 250px;
    }

    .analytics-info-texts {
        width: 300px;
        height: 200px;
    }

    .analytics-info-texts-t1 {
        height: 70px;
        width: 300px;
        font-size: 25px;
        line-height: 30px;
    }

    .analytics-info-texts-t2 {
        height: 70px;
        width: 300px;
        line-height: 15px;
        font-size: 15px;
    }

    .analytics-info-pictures {
        width: 300px;
        height: 200px;
    }

    .activity-info-pictures {
        width: 300px;
        height: 200px;
    }

    .analytics-info {
        height: 400px;
    }

    .activity-info {
        height: 400px;
    }

    .container-analytics {
        height: 400px;
    }

    .analytics {
        height: 450px;
    }

    .activity {
        height: 450px;
    }

    .analytics-info-pictures-image1 {
        width: 100px;
        height: 180px;
    }

    .analytics-info-pictures-rectangleBig {
        width: 200px;
        height: 100px;
        bottom: 100px;
    }

    .analytics-info-pictures-image2 {
        width: 140px;
        height: 90px;
        background-size: 200px 150px;
        top: -260px;
    }

    .activity-info-pictures-image3 {
        width: 150px;
        height: 120px;
        left: 20px;
        top: 20px;
    }

    .activity-info-pictures-rectangleBig2 {
        width: 170px;
        height: 85px;
        left: 70px;
        bottom: 35px;
    }

    .activity-info-pictures-image4 {
        width: 150px;
        height: 200px;
        top: -200px;
    }

    .plan {
        height: 200px;
    }

    .container-plan {
        height: 200px;
        width: 100%;
    }

    .plan-texts {
        justify-content: start;
    }

    .plan-texts-txt1 {
        width: 350px;
        height: 35px;
        font-size: 25px;
        line-height: 40px;
    }

    .content-footer {
        height: 90%;

    }

    .content-footer-center-column-big {
        font-size: 11px;
    }

    .content-footer-center-column-small {
        font-size: 11px;
    }


    .single-platform-line {
        opacity: 0;
    }

    .content-footer-center {
        width: 80%;
    }

    .content-footer-bottom-line {
        width: 70%;
        flex-direction: column;
        height: 120px;
        justify-content: space-between;

    }

    .content-footer-bottom-line-center {
        width: 100%;
    }

    .content-footer-bottom-line-right {
        width: 100%;
        flex-direction: row;
        height: 20px;
    }
    .reviews__list-cart {
        height: 100%;
        justify-content: space-evenly;
    }

    .reviews__list-cart-user {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: inherit;
    }

    .reviews__list-cart-user-name {
        width: 100%;
    }
}

@media all and  (max-width: 400px) {
    .info-content-header-text1 {
        width: 250px;
        height: 30px;
        font-size: 20px;
        line-height: 30px;
    }

    .menu-head {
        font-size: 10px;
    }

    .logo-head {
        background-size: 40px 8px;
    }

    .info-content-header-text2 {
        width: 200px;
        height: 40px;
        font-size: 13px;
        font-weight: 400;
        line-height: 10px;
    }

    .info-content-header-text3 {
        height: 15px;
        width: 120px;
        font-size: 10px;
        font-weight: 400;
        line-height: 30px;
    }

    .registration-text-tittle {
        height: 30%;
        width: 100%;
        justify-content: space-evenly;
    }

    .registration-text-tittle-txt2 {
        font-size: 25px;
        line-height: 30px;
    }

    .registration-text-tittle-txt {
        font-size: 20px;
        padding-left: 30%;
    }

    .registration-form {
        width: 80%;
    }

    .single-platform-info {
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
    }

    .single-platform {
        height: 100%;
    }

    .container-single-platform {
        flex-direction: column;
    }

    .content-footer {
        height: 90%;

    }

    .content-footer-center-column-big {
        font-size: 11px;
    }

    .content-footer-center-column-small {
        font-size: 11px;
    }


    .single-platform-line {
        opacity: 0;
    }

    .content-footer-center {
        width: 80%;
    }

    .content-footer-bottom-line {
        width: 70%;
        flex-direction: column;
        height: 120px;
        justify-content: space-between;

    }

    .content-footer-bottom-line-center {
        width: 100%;
    }

    .content-footer-bottom-line-right {
        width: 100%;
        flex-direction: row;
        height: 20px;
    }

    .reviews__list-cart {
        height: 100%;
        justify-content: space-evenly;
    }

    .reviews__list-cart-user {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: inherit;
    }

    .reviews__list-cart-user-name {
        width: 100%;
    }

    .head-header {
        width: 50%;
        height: 50px;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .menu-head {
        width: 30%;
    }

    #headerTop {
        width: 400px;
    }

    .info-content-header-text1 {
        width: 100%;
        font-size: 20px;
    }

    .info-content-header-text2 {
        font-size: 14px;
        width: 300px;
        line-height: 15px;
    }

    .info-video-content-txt2 {
        width: 90%;
        font-size: 15px;

    }

    .registration-text-tittle-txt {
        width: 300px;
        padding-left: 0;
    }

    .registration-text-tittle-txt2 {
        width: 100%;
    }

}

@media all and (max-width: 370px) {
    .registration-form-input {
        width: 60%;
        height: 30px;
    }

    .content-footer {
        height: 90%;

    }

    .content-footer-center-column-big {
        font-size: 11px;
    }

    .content-footer-center-column-small {
        font-size: 11px;
    }


    .single-platform-line {
        opacity: 0;
    }

    .content-footer-center {
        width: 80%;
    }

    .content-footer-bottom-line {
        width: 70%;
        flex-direction: column;
        height: 120px;
        justify-content: space-between;

    }

    .content-footer-bottom-line-center {
        width: 100%;
    }

    .content-footer-bottom-line-right {
        width: 100%;
        flex-direction: row;
        height: 20px;
    }

    .info-video-content-txt1 {
        font-size: 20px;
    }

    .info-video-content-txt2 {
        font-size: 12px;

    }

    .activity-info-pictures-rectangleBig2 {
        left: 0;
    }

    .analytics-info-pictures-image2 {
        left: 0;
    }

    .registration-text-tittle-txt {
        padding-left: 0;
    }

}

@media all and (max-width: 335px) {
    .registration-text-tittle-txt {
        font-size: 18px;
        padding-left: 45%;
    }

    .registration-text-tittle-txt2 {
        font-size: 20px;
        line-height: 30px;
    }

    .content-footer {
        height: 90%;

    }

    .content-footer-center-column-big {
        font-size: 11px;
    }

    .content-footer-center-column-small {
        font-size: 11px;
    }


    .single-platform-line {
        opacity: 0;
    }

    .content-footer-center {
        width: 80%;
    }

    .content-footer-bottom-line {
        width: 70%;
        flex-direction: column;
        height: 120px;
        justify-content: space-between;

    }

    .content-footer-bottom-line-center {
        width: 100%;
    }

    .content-footer-bottom-line-right {
        width: 100%;
        flex-direction: row;
        height: 20px;
    }
}


@media all and (max-width: 375px) {
    .container-header {
        height: 200px;
    }

    .header {
        height: 200px;
    }

    .content-footer {
        height: 90%;

    }

    .content-footer-center-column-big {
        font-size: 11px;
    }

    .content-footer-center-column-small {
        font-size: 11px;
    }


    .single-platform-line {
        opacity: 0;
    }

    .content-footer-center {
        width: 80%;
    }

    .content-footer-bottom-line {
        width: 70%;
        flex-direction: column;
        height: 120px;
        justify-content: space-between;

    }

    .content-footer-bottom-line-center {
        width: 100%;
    }

    .content-footer-bottom-line-right {
        width: 100%;
        flex-direction: row;
        height: 20px;
    }

    .registration-text-tittle-txt {
        padding-left: 0;
    }


}